<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Product</title>
    <!-- Link to external CSS -->
    <link rel="stylesheet" href="/createCustomer.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <div class="titleBox">
        <h1>Create a New Sale</h1>
    </div>

    <div>
        <form th:action="@{/createSale}" th:object="${sales}" method="post" class="formBox">
            <div class="form-group">
            <label for="customer">Customer:</label>
            <select id="customer" name="customerId" th:field="*{customer}" required>
                <option th:each="customer : ${customers}" th:value="${customer.id}" th:text="${customer.name}"></option>
            </select>
    </div>
    <div class="form-group">
        <label>Products and Quantities:</label>
        <div th:each="product, iterStat : ${products}">
            <span th:text="${product.name} + ' (Stock: ' + ${product.stockQuantity} + ')'"></span>
            <input type="number" min="0" name="quantities" value="0" />
            <input type="hidden" name="productIds" th:value="${product.id}" />
        </div>
    </div>
    <div class="form-group">
        <button type="submit">Create Sale</button>
    </div>
</form>
    </div>

    <script src="/js/createCustomer.js"></script>
</body>
</html>